
  
body{
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

*{
    margin: 0;
    padding: 0;
}
.batchM{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #accadf;
    padding-bottom: 14%;
    height: 100vh;
}



#batchMheading{
    font-size: 50px;
    color: rgb(14, 15, 15);
    font-family: 'Times New Roman', Times, serif; 
    border-top: 1em; 
    border-right: 1em;
    border-left: 1em;
    border-bottom-right-radius: 1em; 
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em; 
    border-top-left-radius: 1em; 

 

    margin-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: aliceblue;
    
}

.tablew {
    text-align: center;
    width: 1000px;
    margin: 10px auto;
    margin-right: 800px;    
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(223, 23, 23, 0.055);
    /* background-color: rgb(195, 204, 211); */
}


.table .add-batchmanager {
    /* float: right; */
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    /* border-radius: 50px; */
    line-height: 15px;
    margin-top: 110px;
    margin-right: -150px;
    margin-bottom: -200px;
    color: rgb(8, 8, 8);
    background: #ff7d03;
    text-align: center;
}

table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #440daa;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #c1c427;
}
table.table td a.edit {
    color: #2007ff;
}
table.table td a.delete {
    color: #f01515;
}
/* table.table td i {
    font-size: 19px;
} */
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    

table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}
