body{
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}
table {
    margin-left: 251px;
    margin-top: 150px;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th, tfoot td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #141516;
    color: white;
  }